<ion-header>
    <ion-navbar hideBackButton>
        <ion-title>FastLogin</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home">
    <ion-card>
        <ion-card-header>
            Please enter your Master Password
        </ion-card-header>
        <ion-card-content>
            The master password is used to encrypt your account passwords.

            <form class="list" [formGroup]="mpFrm" (ngSubmit)="signin()" novalidate>

                <ion-item>

                    <ion-label floating>Master Password</ion-label>

                    <ion-input type="text" formControlName="masterpassword" (keyup)="onKey($event)"></ion-input>
                </ion-item>
                <div padding>
                    <button type="submit" block>Sign in</button>
                </div>
                <div block padding *ngIf="!mpFrm.controls.masterpassword.valid && mpFrm.controls.masterpassword.touched" class="alert alert-danger">Please enter a valid Master Password (min length 5)</div>
                <div block padding *ngIf="!isCorrect && mpFrm.controls.masterpassword.touched" class="alert alert-danger">Master Password is not correct, please try again.</div>
            </form>


        </ion-card-content>
    </ion-card>
</ion-content>