<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accounts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <button primary (click)="addAccount()">add Account</button>


  <ion-list>
    <button ion-item *ngFor="let account of accounts" (click)="itemTapped($event, account)">
      {{account.title}}
      <div class="item-note" item-right>
        {{account.id}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
